<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test Animation</title>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/didi.css">
</head>
<body>
  <div>
    <img src="../images/mascot.png" alt="">

    <p>Loading...</p>
  </div>

  <div class="page page1">
    <div class="con">
      <p>万水千山中，我们相遇</p>
      <p>据说这是万里挑"医"的缘分</p>
      <p>2016年马上就要过去了</p>
      <p>马上就来检验我们之间的缘分吧！</p>
      <input type="text">
    </div>
    <div class="pageup">
      <img src="../images/icon_up.png" alt="">
    </div>
  </div>


  <div class="page page2">

  </div>
</body>
</html>